In [1]:
import pandas as pd
import numpy as np

In [2]:
# read in all of the car sales datasets
raw_2010 = pd.read_csv("output_data/raw/car sales/2021_03_15_bestcars2010.csv")
raw_2011 = pd.read_csv("output_data/raw/car sales/2021_03_15_bestcars2011.csv")
raw_2012 = pd.read_csv("output_data/raw/car sales/2021_03_15_bestcars2012.csv")
raw_2013 = pd.read_csv("output_data/raw/car sales/2021_03_15_bestcars2013.csv")
raw_2014 = pd.read_csv("output_data/raw/car sales/2021_03_15_bestcars2014.csv")

raw_2015 = pd.read_csv("output_data/raw/car sales/2021_03_15_bestcars2015.csv")
raw_2016 = pd.read_csv("output_data/raw/car sales/2021_03_15_bestcars2016.csv")
raw_2017 = pd.read_csv("output_data/raw/car sales/2021_03_15_bestcars2017.csv")
raw_2018 = pd.read_csv("output_data/raw/car sales/2021_03_15_bestcars2018.csv")
raw_2019 = pd.read_csv("output_data/raw/car sales/2021_03_15_bestcars2019months.csv")
raw_2020 = pd.read_csv("output_data/raw/car sales/2021_03_15_bestcars2020.csv")

# Create clean DataFrames
Collecting data for: Vehicle, Year End Volume, Last Year End Volume, and Percent Change

### 2010

In [3]:
# rename columns to create DataFrame with only the columns we need
raw_2010.columns = ["Rank", "Vehicle", "2010 Year End", "2009 Year End", "% Change 2010"]
clean_2010 = raw_2010[["Vehicle", "2010 Year End", "2009 Year End", "% Change 2010"]]

# drop last rows without individual vehicles by index labels
clean_2010 = clean_2010.drop(np.arange(283, 288, 1))

In [4]:
# clean columns with string replace
clean_2010["% Change 2010"] = clean_2010["% Change 2010"].str.replace("+", "")
clean_2010["% Change 2010"] = clean_2010["% Change 2010"].str.replace("–", "")
clean_2010["% Change 2010"] = clean_2010["% Change 2010"].str.replace("%", "")
clean_2010["% Change 2010"] = clean_2010["% Change 2010"].str.replace("—", "0")

clean_2010["2009 Year End"] = clean_2010["2009 Year End"].str.replace("+", "")
clean_2010["2009 Year End"] = clean_2010["2009 Year End"].str.replace("—–", "0")

In [5]:
# convert columns from object to integer and float
clean_2010["2010 Year End"] = clean_2010["2010 Year End"].astype(int)
clean_2010["2009 Year End"] = clean_2010["2009 Year End"].astype(int)
clean_2010["% Change 2010"] = clean_2010["% Change 2010"].astype(float)

In [6]:
clean_2010

                   Vehicle  2010 Year End  2009 Year End  % Change 2010
0            Ford F-Series         528349         413625           27.7
1      Chevrolet Silverado         370135         316544           16.9
2             Toyota Camry         327804         356824            8.1
3             Honda Accord         311381         290056            7.4
4    Toyota Corolla/Matrix         266082         296874           10.4
..                     ...            ...            ...            ...
278          Ford Taurus X             12           6106           99.8
279         Mazda B-Series             10            573           98.3
280      Mitsubishi Raider              9           1944           99.5
281     Pontiac Grand Prix              7            265           97.4
282  Mercedes-Benz B-Class              1              0            0.0

[283 rows x 4 columns]

### 2011

In [7]:
# same operations for 2011
raw_2011.columns = ["Rank", "Vehicle", "2011 Year End", "2010 Year End", "% Change 2011"]
clean_2011 = raw_2011[["Vehicle", "2011 Year End", "2010 Year End", "% Change 2011"]]

In [8]:
clean_2011 = clean_2011.drop(np.arange(267, 272, 1))

clean_2011["% Change 2011"] = clean_2011["% Change 2011"].str.replace("+", "")
clean_2011["% Change 2011"] = clean_2011["% Change 2011"].str.replace("–", "")
clean_2011["% Change 2011"] = clean_2011["% Change 2011"].str.replace("%", "")
clean_2011["% Change 2011"] = clean_2011["% Change 2011"].str.replace("—–", "0")
clean_2011["% Change 2011"] = clean_2011["% Change 2011"].str.replace("—", "0")
clean_2011["% Change 2011"] = clean_2011["% Change 2011"].str.replace(",", "")

clean_2011["2010 Year End"] = clean_2011["2010 Year End"].str.replace("—–", "0")

clean_2011["2011 Year End"] = clean_2011["2011 Year End"].astype(int)
clean_2011["2010 Year End"] = clean_2011["2010 Year End"].astype(int)
clean_2011["% Change 2011"] = clean_2011["% Change 2011"].astype(float)

In [9]:
clean_2011

                 Vehicle  2011 Year End  2010 Year End  % Change 2011
0          Ford F-Series         584917         528349           10.7
1    Chevrolet Silverado         415130         370135           12.2
2           Toyota Camry         308510         327804            5.9
3          Nissan Altima         268981         229263           17.3
4            Ford Escape         254293         191026           33.1
..                   ...            ...            ...            ...
262            GMC Envoy              5             84           94.0
263          Honda S2000              5             85           94.1
264            Honda FCX              2             18           88.2
265  Suzuki Forenza/Reno              1             12           91.7
266        Suzuki Verona              1              0            0.0

[267 rows x 4 columns]

### 2012

In [ ]:
# same operations for the years through 2019, tailored for each raw DataFrame
raw_2011.columns = ["Rank", "Vehicle", "2011 Year End", "2010 Year End", "% Change 2011"]
clean_2011 = raw_2011[["Vehicle", "2011 Year End", "2010 Year End", "% Change 2011"]]

raw_2012.columns = ["Rank12", "Rank11", "Vehicle", "2012 Year End", "2011 Year End", "% Change 2012"]
clean_2012 = raw_2012[["Vehicle", "2012 Year End", "2011 Year End", "% Change 2012"]]

raw_2013.columns = ["Rank", "Vehicle", "2013 Year End", "2012 Year End", "% Change 2013", "Dec13", "Dec12", "%Ch.1"]
clean_2013 = raw_2013[["Vehicle", "2013 Year End", "2012 Year End", "% Change 2013"]]

raw_2014.columns = ["Rank", "Vehicle", "2014 Year End", "2013 Year End", "% Change 2014", "Dec14", "Dec13", "%Ch.1"]
clean_2014 = raw_2014[["Vehicle", "2014 Year End", "2013 Year End", "% Change 2014"]]

raw_2015.columns = ["Rank", "Vehicle", "2015 Year End", "2014 Year End", "% Change 2015", "Dec15", "Dec14", "%Ch.1"]
clean_2015 = raw_2015[["Vehicle", "2015 Year End", "2014 Year End", "% Change 2015"]]

raw_2016.columns = ["Rank", "Vehicle", "2016 Year End", "2015 Year End", "% Change 2016", "Dec16", "Dec15", "%Ch.1"]
clean_2016 = raw_2016[["Vehicle", "2016 Year End", "2015 Year End", "% Change 2016"]]

raw_2017.columns = ["Vehicle", "US", "US LY", "USvLY", "2017 Year End", "2016 Year End", "% Change 2017"]
clean_2017 = raw_2017[["Vehicle", "2017 Year End", "2016 Year End", "% Change 2017"]]

raw_2018.columns = ["Vehicle", "Month", "Month LY", "Month Change", "2018 Year End", "2017 Year End", "% Change 2018"]
clean_2018 = raw_2018[["Vehicle", "2018 Year End", "2017 Year End", "% Change 2018"]]
#clean_2018 = clean_2018.sort_values("2018 Year End")
#clean_2018 = clean_2018.reset_index(drop=True)

raw_2019.columns = ["Vehicle", "Month", "Month LY", "Month Change", "2019 Year End", "2018 Year End", "% Change 2019"]
clean_2019 = raw_2019[["Vehicle", "2019 Year End", "2018 Year End", "% Change 2019"]]
# sort by Year End
#clean_2019 = clean_2019.sort_values("2019 Year End")
# reset index after sorting
#clean_2019 = clean_2019.reset_index(drop=True)

In [ ]:
# verification for quality control
print(clean_2010)
print(clean_2011)
print(clean_2012)
print(clean_2013)
print(clean_2014)
print(clean_2015)
print(clean_2016)
print(clean_2017)
print(clean_2018)
print(clean_2019)

### 2020

In [10]:
raw_2019.columns = ["Vehicle", "Month", "Month LY", "Month Change", "2019 Year End", "2018 Year End", "% Change 2019"]
clean_2019 = raw_2019[["Vehicle", "2019 Year End", "2018 Year End", "% Change 2019"]]

In [11]:
# drop last two rows by index labels
cl_2020 = raw_2020.drop([303, 304])

# convert columns from object to integer for calculation
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
for month in months:
    cl_2020[f'{month}'] = cl_2020[f'{month}'].astype(int)

# create a new column that equals the sum or rows in the dataframe
cl_2020["2020 Year End"] = cl_2020.sum(axis=1)
# change name of Model to Vehicle
cl_2020.rename(columns = {'Model':'Vehicle'}, inplace = True)

In [12]:
# remove non-vehicle rows from the 2019 list
cl_2019 = clean_2019.drop([285, 286])

# return a new DataFrame that executes a left outer merges 2020 and 2019
clean_2020 = pd.merge(cl_2020, cl_2019, how="left", on='Vehicle')
# keep only the relevant columns
clean_2020 = clean_2020[["Vehicle", "2020 Year End", "2019 Year End"]]

# replace null values in '2019 Year End' by 0
clean_2020['2019 Year End'] = clean_2020['2019 Year End'].fillna(0)

# convert 2019 Year End to integers
clean_2020["2019 Year End"] = clean_2020["2019 Year End"].astype(int)

# create empy column for % Change 2020
clean_2020["% Change 2020"] = ""

In [13]:
# create calculions for % Change except for null values
for index, row in clean_2020.iterrows():
    if row[2] != 0:
        clean_2020["% Change 2020"][index] = round(((clean_2020["2020 Year End"][index] - clean_2020["2019 Year End"][index]) / clean_2020["2019 Year End"][index]) * 100, 2)
    else:
        clean_2020["% Change 2020"][index] = 0

<ipython-input-13-3e8b0ec9d496>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_2020["% Change 2020"][index] = round(((clean_2020["2020 Year End"][index] - clean_2020["2019 Year End"][index]) / clean_2020["2019 Year End"][index]) * 100, 2)
<ipython-input-13-3e8b0ec9d496>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_2020["% Change 2020"][index] = 0

In [14]:
clean_2020

             Vehicle  2020 Year End  2019 Year End % Change 2020
0          Acura ILX          13414          14685         -8.66
1          Acura MDX          47816          52019         -8.08
2          Acura NSX            128            238        -46.22
3          Acura RDX          52785          62876        -16.05
4          Acura RLX           1054           1019          3.43
..               ...            ...            ...           ...
298  Volvo 60-Series          15729          20190         -22.1
299  Volvo 90-Series           3195           4052        -21.15
300       Volvo XC40          23778          17647         34.74
301       Volvo XC60          32078          30578          4.91
302       Volvo XC90          34251          35760         -4.22

[303 rows x 4 columns]

In [15]:
clean_2020.dtypes

Vehicle          object
2020 Year End     int64
2019 Year End     int32
% Change 2020    object
dtype: object