In [1]:
import pandas as pd
import numpy as np

In [2]:
# read in aggregated car sales data for final cleanup
data = pd.read_csv("output_data/raw/cars_assembled_01.csv")

In [3]:
data

,Vehicle,2009 Year End,2010 Year End,2011 Year End,2012 Year End,2013 Year End,2014 Year End,2015 Year End,2016 Year End,2017 Year End,2018 Year End,2020 Year End,2019 Year End
0,Acura MDX,31178.0,47210.0,43271.0,50854.0,53040.0,65603.0,58208.0,55495.0,54886.0,51512.0,47816.0,52019.0
1,Acura RDX,10153.0,14975.0,15196.0,29520.0,44750.0,44865.0,51026.0,52361.0,51295.0,63580.0,52785.0,62876.0
2,Acura RL,2043.0,2037.0,1096.0,379.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Acura TL,33620.0,34049.0,31237.0,33572.0,24318.0,10616.0,88.0,0.0,NaN,NaN,NaN,NaN
4,Acura TSX,28650.0,32076.0,30935.0,28865.0,17484.0,6287.0,35.0,4.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
630,Kia Seltos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46280.0,0.0
631,Land Rover Defender,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9100.0,0.0
632,Tesla Model Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40001.0,0.0
633,Volkswagen Atlas Sport,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11078.0,0.0
634,Volvo 40 Series,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1099.0,0.0

In [4]:
# sort alphabetically by Vehicle column
data = data.sort_values("Vehicle")

# reset index
data = data.reset_index(drop=True)

# reorder columns
data = data[['Vehicle', '2009 Year End', '2010 Year End', '2011 Year End', '2012 Year End',
             '2013 Year End', '2014 Year End', '2015 Year End', '2016 Year End', '2017 Year End',
             '2018 Year End', '2019 Year End', '2020 Year End']]

# rename columns
data.columns = ['Vehicle', '2009', '2010', '2011', '2012',
                '2013', '2014', '2015', '2016', '2017',
                '2018', '2019', '2020']

In [5]:
data

,Vehicle,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Acura ILX,NaN,NaN,0.0,12251.0,20430.0,17854.0,18531.0,14597.0,11757.0,11273.0,14685.0,13414.0
1,Acura ILX,NaN,NaN,0.0,11279.0,20430.0,17854.0,18531.0,14597.0,11757.0,11273.0,14685.0,13414.0
2,Acura ILX Hybrid,NaN,NaN,0.0,972.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Acura MDX,31178.0,47210.0,43271.0,50854.0,53040.0,65603.0,58208.0,55495.0,54886.0,51512.0,52019.0,47816.0
4,Acura NSX,NaN,NaN,NaN,NaN,NaN,NaN,0.0,269.0,581.0,170.0,238.0,128.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
630,Volvo V70,1816.0,895.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
631,Volvo XC40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,12420.0,17647.0,23778.0
632,Volvo XC60,9262.0,12030.0,12932.0,19139.0,19766.0,19276.0,26134.0,20452.0,22516.0,32689.0,30578.0,32078.0
633,Volvo XC70,5825.0,6626.0,5716.0,5513.0,4882.0,5093.0,5118.0,5425.0,NaN,NaN,NaN,NaN
634,Volvo XC90,10757.0,10119.0,10609.0,9513.0,6845.0,3952.0,12777.0,32526.0,30996.0,31609.0,35760.0,34251.0

In [6]:
data.to_csv("output_data/Car_Sales_2009-2020.csv", index=False, header=True)